---
import "../globals.css";
import { Page } from "../components/__Index";
import { Image } from "astro:assets";
import GithubIcon from "../assets/github-mark-white.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col bg-base text-accent">
    <Page client:load>
      <Image class="h-6 w-6 sm:h-8 sm:w-8" src={GithubIcon} alt="Github" />
    </Page>
  </body>
</html>
