---
import General from "@layouts/General.astro";
import { ProjectSection } from "@components/ProjectSection";
import { ProgressBar } from "@components/ProgressBar";
---

<General>
  <span class="text-6xl font-extrabold"> Theres nothing here yet.</span>
</General>
